body {
    background-color: hsl(212, 45%, 89%);
    margin: 0px;
    font-family: 'Outfit', sans-serif;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 325px;
    height: 500px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 150px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img {
    width: 290px;
    height: 290px;
    padding: 16px;
    border-radius: 28px;
}

h1 {
    font-size: 22px;
    margin: 4px auto;
    width: 250px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

p {
    font-size: 15.5px;
    width: 255px;
    margin: 17px auto;
    color: hsl(220, 15%, 55%);
}

.attribution {
    text-align: center;
    text-transform: uppercase;
}

.attribution p {
    font-size: small;
}

a {
    text-decoration: none;
    color: hsl(220, 15%, 55%);
}

a:hover {
    color: hsl(218, 44%, 22%);
}